<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://damocles-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>damocles-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>damocles-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$damocles-api</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="damoclesConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:yattaoa2kz.database.windows.net,1433;Initial Catalog=damocles;Integrated Security=False;User ID=hetu-dbadmin@yattaoa2kz;Password=!@admin123;Connect Timeout=30;Encrypt=True" Name="Server=tcp:yattaoa2kz.database.windows.net,1433;Database=damocles;User ID=hetu-dbadmin@yattaoa2kz;Password=!@admin123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Api-20140705012511.mdf;Initial Catalog=aspnet-Api-20140705012511;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\damoclesConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Api-20140705012511.mdf;Initial Catalog=aspnet-Api-20140705012511;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Api.Context.AppDbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Api.Context.AppDbContext, Api" MigrationConfiguration="Api.Migrations.Configuration, Api" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Api.Context.AppDbContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)damoclesConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:yattaoa2kz.database.windows.net,1433;Database=damocles;User ID=hetu-dbadmin@yattaoa2kz;Password=!@admin123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Api.Context.AppDbContext" />
  </ItemGroup>
</Project>